* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 7em;
}

body {
    margin-top: 50px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #ECECEC;
    z-index: 100;
    border-bottom: solid 1.5px rgb(53, 52, 52);
}

.navbar a {
    float: left;
    color: black;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 2em;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    transition: 0.5s;
}

#navbar {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    text-align: center;
    border-bottom: solid 1.5px rgb(53, 52, 52);
}

.elemento-navbar {
    margin: auto;
}

#navbar:hover {
    background-color: #ddd;
    color: black;
    transition: 0.5s;
}

.active {
    background-color: #04AA6D;
    color: white;
}

.SobreMi-Grid {
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    height: 100%;
}

.SobreMi-Grid img {
    border-radius: 20px;
}

.texto {
    margin: auto;
}

.texto-centrado {
    text-align: center;
}

.Conocimientos-Grid {
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.bloque {
    width: 90%;
    text-align: center;
    background-color: #ECECEC;
    border-radius: 8px;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.Proyectos-Grid {
    display: grid;
    margin: auto;
    width: 90%;
    height: 70%;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.formulario input,
textarea {
    width: 100%;
}

.formulario-grid {
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    height: 100%;
}

input,
textarea {
    outline: none;
    border: 0;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

input[type=submit] {
    width: 100%;
    background-color: #1976d2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #90caf9;
}

.inicio {
    padding: 4em;
    background-image: url("../img/fondo.svg");
    color: white;
    font-size: 3em;
}

.Titulos {
    font-weight: bold;
    color: #1976d2;
    font-size: 2em;
}

.contenido {
    letter-spacing: 1px;
    line-height: 28px;
}

#SobreMi {
    margin-bottom: 8em;
}

#Conocimientos {
    padding-top: 4em;
    background-color: #ECECEC;
    padding-bottom: 8em;
}

#Conocimientos .bloque {
    margin-top: 1em;
    background-color: white;
}

#Proyectos {
    margin-top: 5em;
    background-color: white;
    height: 50em;
}

#Proyectos .contenido {
    border-top: solid 1px grey;
    padding: 2em;
}

#Proyectos .contenido {
    border-top: solid 1px grey;
    padding: 2em;
    padding-top: 1em;
}

#Proyectos .bloque {
    height: 20em;
}

#Proyectos .bloque h1 {
    padding-bottom: 1em;
}

.formulario {
    padding: 3em;
}

#Contacto {
    background-color: #ECECEC;
    padding-top: 4em;
}

.curriculum {
    background-color: #ECECEC;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-top: 2em;
    width: 7em;
    border-radius: 20px;
    color: black;
    vertical-align: middle;
    align-items: center;
    transition: 0.3s;
}

.padre-curriculum {
    display: flex;
    align-items: center;
}

.padre-curriculum a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.curriculum img {
    border-radius: 0;
    float: right;
}

.curriculum:hover {
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
}

.texto-bloque p {
    text-align: center;
    display: inline-block;
    margin-top: 1em;
}

.amarillo {
    display: inline-block;
    font-size: 1.5em;
    background-color: #FDFF91;
    border-radius: 4px;
    padding: 0.25em;
    margin-left: 0.25em;
}

.verde {
    display: inline-block;
    font-size: 1.5em;
    background-color: #9dd89f;
    border-radius: 4px;
    padding: 0.25em;
    margin-left: 0.25em;
}

.rojo {
    display: inline-block;
    font-size: 1.5em;
    background-color: #FF9191;
    border-radius: 4px;
    padding: 0.25em;
    margin-left: 0.25em;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}

.boton {
    width: 50%;
    background-color: #1976d2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.boton:hover {
    background-color: #90caf9;
}

.footer {
    width: 100%;
    height: 4em;
    background-color: white;
}

.footer div {
    color: white;
    margin-top: 1.2em;
}

.iconos {
    display: inline-block;
    padding: 1em;
    margin-top: 2em;
    text-align: center;
    width: 7em;
    border-radius: 20px;
    color: black;
    vertical-align: middle;
}

.iconos img {
    border-radius: 0;
}

#Institucion {
    margin-top: 5em;
    background-color: white;
    height: 50em;
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding-top: 3em;
    margin-bottom: 6em;
}

#Institucion h1 {
    border-bottom: solid 1.5px rgb(53, 52, 52);
    padding-bottom: 1em;
}

#Institucion p {
    padding-right: 1em;
    padding-left: 1em;
}

.texto_Institucion {
    text-align: left;
    padding-left: 2em;
}

.boton_Institucion {
    text-align: center;
    display: block;
    background-color: #1976d2;
    margin: auto;
    color: white;
    padding: 14px 20px;
    margin-top: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 70%;
}

.inicio-Institucion {
    margin-top: 3em;
}

@media (max-width: 1536px) {
    .Proyectos-Grid {
        margin-top: 3em;
        grid-template-columns: repeat(1, 1fr);
        gap: 4em;
    }
    #Proyectos {
        height: 97em;
    }
    .formulario-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1000px) {
    #Foto {
        width: 15em;
    }
}

@media (max-width: 768px) {
    .inicio {
        padding: 3em;
        font-size: 1.5em;
        margin-bottom: 5em;
    }
}

@media (max-width: 677px) {
    .SobreMi-Grid {
        grid-template-columns: repeat(1, 1fr);
    }
    #Foto {
        margin: auto;
        margin-bottom: 3em;
    }
    .navbar a {
        padding-left: 0;
        display: block;
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 640px) {
    .Conocimientos-Grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 530px) {
    .contenido {
        font-size: 0.85em;
    }
    h1 {
        font-size: 1.5em;
    }
    p {
        font-size: 0.85em;
    }
    .rojo {
        font-size: 1em;
    }
    .amarillo {
        font-size: 1em;
    }
    .verde {
        font-size: 1em;
    }
}

@media (max-width: 350px) {
    .Conocimientos-Grid {
        grid-template-columns: repeat(1, 1fr);
    }
    #Proyectos {
        height: 110em;
    }
    #Proyectos .bloque {
        height: 25em;
    }
}

@media (max-width: 833px) {
    #Institucion {
        grid-template-columns: repeat(1, 1fr);
    }
}